{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>{% trans %}Affiliate-Dashboard{% endtrans %} 0.1</h1>
        <p>
            <ul>
                <li>Create and manage blogposts</li>
                <li>Create users and define their revenue in percent for sales</li>
                <li>Map tags and users to blogposts</li>
                <li>Get some nice charts about your users sales</li>
            </ul>
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="{{ path('sale_add') }}" role="button">{% trans %}Upload XML report{% endtrans %}</a>
        </p>
    </div>
{% endblock %}