{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{% trans %}Payments{% endtrans %}</h1>
    </div>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Revenue{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.date|localizeddate('medium', 'none') }}</td>
                <td>{{ payment.user.name }}</td>
                <td>{{ payment.amount|localizedcurrency('EUR') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}