{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{% trans %}Create Blogpost{% endtrans %}</h1>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %}create{% endtrans %}" />
    {{ form_end(form) }}

    <p>
        <a type="button" class="btn btn-default btn-xs" href="{{ path('blogpost_index') }}">{% trans %}back to the list{% endtrans %}</a>
    </p>
{% endblock %}
