{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-success" role="alert">{% trans %}Added successfully{% endtrans %}</div>

    <p>
        <a class="btn btn-default btn-xs" href="{{ path('sale_index') }}">{% trans %}back to the list{% endtrans %}</a>
    </p>
{% endblock %}